* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: #333;
    color: aliceblue;
}

.icon {
    font-size: 1.5em;
    cursor: pointer; /* Corrected from "cursors: pointer;" */
}

.logo {
    font-size: 1.5em;
}

.menu {
    display: flex;
    gap: 1em;
}

.menu-item {
    cursor: pointer;
}

main {
    padding: 1em;
}
.movies {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    list-style: none; /* since the movies are getting stored in the unordered list element <ul>, one need to remove the list-style to remove bullet-points */
    padding: 0;
}

.movie {
    text-align: center;
    width: 150px;
}

.movie-poster {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.movie-title {
    margin-top: 0.5em;
    font-size: 1em;
    color: #333;
}